.curriculum-data{
  margin: 40px  0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  position: relative;

}


.title{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 20px;  
    padding: 10px 15px;
    
  }
  .content{
    border-radius: 20px;  
    max-height: 0px;
    overflow: hidden;
    background-color: #e6e6e6;
    transition: all  0.5s cubic-bezier(0,1,0,1) ;
  }
  
  
  .content.isShow {
      height: auto;
      transition: all  0.10s cubic-bezier(0,1,0,1) ;
    max-height: 1000px;
  }

  @media screen and (max-width:570px) {
    .curriculum-data{
      margin: 40px  0;
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 2px solid red;      
    }
    .curriculum-data .title {
      
    }
    
  }

  @media screen and (min-width:570px) and (max-width:768px) {
    .curriculum-data{
      margin: 40px  0;
      display: flex;
      flex-direction: column;
      width: 100%;    
    }
    
    
  }